{% extends 'baseSeller.html' %} {% load static %} {% block title %}Profile
{%endblock %} {% block additional_css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static '/Seller/productManager.css' %}"
/>
{% endblock %} {% block content%}
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'sellerProfile' %}">profile</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item active">
          <a href="{% url 'productCreate' %}" class="nav-link">new product</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>
<div class="card-container">
  {% for product in products %}

  <div class="card">
    <img
      src="{{ product.image }}"
      class="card-image"
      alt="{{ product.name }}"
    />
    <h2 class="card-title">{{ product.name }}</h2>
    <p class="card-price">Price: {{ product.price }}</p>
    <p class="card-quantity">Quantity: {{ product.quantity }}</p>
    <a href="{% url 'productUpdate' product.id %}"><input type="submit" class="btn" value="update"></input></a>
    <a href="{% url 'productDelete' product.id %}"><input type="submit" class="btn" value="delete"></input></a>
  </div>
  {% endfor %}
</div>
{% endblock %}