body {
  background-color: #b9b2b2;

}
.card-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  overflow-x: auto;
  margin-left: 120px;
  margin-right: 120px;
}


.card-container::-webkit-scrollbar {
  display: none;

}

.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
width: 500px;
height: 300px;
margin: auto;
text-align: center;
font-family: arial;
}

.card:hover {
  transform: translateY(-5px);
}

.card-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-title {
  font-size: 18px;
  margin: 10px 0;
  padding: 0 10px;
  color: #333;
}

.card-price {
color: grey;
font-size: 10px;
}

.card-quantity {
  font-size: 8px;
  color: #666;
  padding: 0 10px;
  margin-bottom: 10px;
}

/* Styling for the link */
.card a {
  text-decoration: none;
  color: inherit;
}

.card a:hover {
  text-decoration: none;
  color: inherit;
}


