{% extends 'customer/baseCustomer.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{% static '/customer/cart.css' %}">
{% endblock %}
{% block content2 %}
<h1>Your Cart</h1>
    
{% if cart %}
<ul class="cart">
    {% for item,form  in cart,forms %}
        <li class="cart-item">
            <div class="item-info">
                <h2>{{ item.product.name }}</h2>
                <p class="item-price">Price: {{ item.product.price }}</p>

                <div class="form-container">
                    <form action="{% url 'select' product.id %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.as_p}}
                        <input type="submit" class="btn" value="order"></input>
                    </form>
                </div>

            </div>
            <div class="item-image-container">
                <img src="{{ item.product.image.url }}" class="item-image">
                <a href="{% url 'deleteCart' item.product.id %}"><input type="submit" class="btn" value="delete"></input></a>
            </div>
        </li>
    {% endfor %}
</ul>
<div class="total-box">
    <p class="total">Total: {{ total_price }}</p>
    <a href="{% url 'address' %}" class="btn checkout">Checkout</a>
</div>

<p class="empty-cart">Your cart is empty.</p>

{% endif %}

{% endblock %}