{% extends 'base.html' %}
{% load static %}
{% block title %}create product{% endblock %}
{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{% static '/customer/detail.css' %}">
{% endblock %}
{% block content %}

<div class="card">
    <img src="{{ product.image }}"
         class="card-image"
         alt="{{ product.name }}" />
    <h2 class="card-title">{{ product.name }}</h2>
    <p class="card-price">Price: {{ product.price }}</p>
    <p class="card-quantity">Quantity: {{ product.quantity }}</p>
</div>

<div class="form-container">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn" href="{% url 'order' product.id %}" value="order"></input>
    </form>
</div>
{% endblock %}