{% extends 'customer/baseCustomer.html' %}
{% load static %}
{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{% static '/customer/products.css' %}">

{% endblock %}
{% block title %}Profile{% endblock %}

{% block content2 %}

<div class="card-container">
    {% for product in products %}
    <a href="{% url 'productDetail' product.id %}">
        <div class="card">
            <img src="{{ product.image }}"
                 class="card-image"
                 alt="{{ product.name }}" />
            <h2 class="card-title">{{ product.name }}</h2>
            <p class="card-price">Price: {{ product.price }}</p>
            <p class="card-quantity">Quantity: {{ product.quantity }}</p>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}