{% extends 'base.html' %}
{% load static %}
{% block title %}Buyer registration{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'registerPage.css' %}">
{% endblock %}

{% block content %}
    <div>
        <h2>صفحه ثبت نام خریدار</h2>
        <form action="" method="POST" novalidate>
            {% csrf_token %} 
            {{form.as_p}}
            <input type="submit" class="btn" value="register user"></input>
        </form>
    </div>
{% endblock %}
