{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'register.css' %}">
{% endblock %}



{% block content %}
    <div class="center-container">
        <form action="" method="POST" novalidate>
            {% csrf_token %}
            <label for="name">name:</label>
            <input name="id" type="text">
            <label for="lastname">lastname:</label>
            <input name="lastname" type="text">
            <input type="submit" value="Register">
        </form>
    </div>
{% endblock %}